* { /*RESETEO DE NAVEGADORES*/
  margin: 0; /* Saca los márgenes que pone el navegador*/
  padding: 0; /* Saca los rellenos por defecto */
  box-sizing: border-box; /* Hace que los bordes no agranden tus cajas*/
}

:root{
  --color-primario: #00F0FF;
  --color-primario_deg: #00eeff9e;
  --color-secundario: #BCFF00;
  --color-terciario: #ff0000;
  --color-fondo: #0D0D12;
  --color-neutral: rgba(84, 84, 84, 0.312);
  --color-parrafo:rgb(77, 74, 74); 
  --fuente-titulo: "space grotesk", sans-serif;
  --fuente-cuerpo: "inter", sans-serif;
}

html{
  /* Al definir esto, le decimos al navegador: "A partir de ahora, 1rem = 10px" */
    font-size: 62.5%;
}

body{
  font-family: var(--fuente-cuerpo);
  font-size: 1.6rem;
  background-color: var(--color-fondo);
  color: white;
}
              /*Barra de navegacion*/
.barra-superior {
    background-color: rgba(84, 84, 84, 0.12);
    backdrop-filter: blur(20px); /* Sirve para agregar distintos efectos(en inspeccionar hay mas)*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;
    position: sticky; /* deja mover el obejto hasta que el scroll llega a él, ahi se fija */
    top: 0;
}
.boton-de-menu{
  color: var(--color-primario); /* Por ahora, luego sera un icono*/
  cursor: pointer;
  background: none;
  border: none;
  margin-right: 1rem ;
}

.barra-superior__titulo a{
  /* font-size: 1.5rem; */
  font-family: var(--fuente-titulo);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  color: var(--color-primario);
  letter-spacing: -0.05em;
}

.barra-superior__titulo{
  font-size: 2.4rem;
}

.barra-superior__nav{
  margin: 0 auto;
}

.barra-superior__lista{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.barra-superior__enlace, .barra-superior__enlace:visited{
  font-size: 1.6rem;
  font-family: var(--fuente-titulo);
  text-transform: uppercase;    
  text-decoration: none;
  color: rgb(255, 255, 255);
  
}

.boton-de-carrito{
  color: var(--color-primario); /* Por ahora, luego sera un icono*/
  background: none;
  border: none;
  cursor: pointer;
  margin: 1rem;
}


















/* LANZAMINETO */
.lanzamiento{
  min-height:  100vh;
  padding: 0rem 8.0rem;
  background-image:linear-gradient(
    rgba(43, 42, 42, 0.514),
    rgba(0, 0, 0, 0.85)), url(../img/Fondo.png);
  background-size: cover;
  background-position: center;
}

.lanzamiento__contenedor{
  max-width: 60rem;
  padding-top:  10rem;
  flex-direction: column;
}

.lanzamiento__anuncio{
  display: inline-block;
  margin-bottom: 2rem; /*Margen con el texto principal*/
  font-size: 1rem;
  letter-spacing: -0.5px;/*ESPACIADO ENTRE LETRAS */
  color: rgb(182 247 0);
  font-weight: 700; /*Grosor de Letras */
  text-transform: uppercase; /*MAYUSCULA*/
  background-color: rgba(182, 247, 0, 0.12);
  border: 1px rgb(181, 247, 0, 0.233) solid;
  border-radius:1rem;
  padding: 0.50rem 1rem; /*Espaciado entre el contenedor y el borde*/
}

.lanzamiento__titulo{
  font-size: 7rem;
  margin-bottom: 2rem;
  font-family: var(--fuente-titulo);
  text-transform: uppercase;
  line-height: 7rem;
  /* para que funcione deben estar los tres (-wekbit-, no es necesario solo es para navegadores antiguos)*/
  background-image: linear-gradient(to bottom right,rgb(255, 255, 255), var(--color-primario_deg)); /* define el gradiente. Pero en lugar de aplicarlo como fondo del div, sera del texto */ 
  -webkit-background-clip: text;
  background-clip: text; /* recorte ese fondo con la forma exacta de las letras */
  color: transparent; 
}

.lanzamiento__descripcion{
  font-family: var(--fuente-cuerpo);
  font-size: 1.7rem;
  color:rgba(172, 170, 177, 0.7);
  line-height: 2rem;
  padding-bottom: 2rem;
}

.lanzamiento__botones{
  display: flex;
  gap: 2rem;
}

.lanzamiento__boton{
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(0 93 99);
  letter-spacing: 1px;
  padding: 1.2rem 2.5rem;  
  background-image: linear-gradient(to bottom right, var(--color-primario), var(--color-primario_deg)); /* define el gradiente. Pero en lugar de aplicarlo como fondo del div, sera del texto */ 
  border: 1px var(--color-primario) solid;
  border-radius: 0.40rem;
  cursor: pointer;
}

.lanzamiento__boton.lanzamiento__boton--secundario{
  text-decoration: none;
  font-size: 1.2rem;
  background-image: none;
  background-color: rgba(25, 25, 31, 0.89);
  color: white;
  border: 1px var(--color-neutral) solid;
}











/* CONTROL+K+C */